@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-accent-color: rgb(255, 127, 80);
}

button {
  border: none;
  background: none;
}
button:focus {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #040837;
  color: #fff;
  height: 100vh;
  width: 100vw;
  line-height: 22px;
  overflow-x: hidden;
}

header {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.container {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 20px;
}

.feedback-stats {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 0.9rem;
}

.card {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  color: #111;
  font-weight: 500;
  position: relative;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.rating-container {
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-30%, -30%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #ffffff;
  background-color: var(--primary-accent-color);
}

.delete-feedback {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.15s ease;
}
.card.reverse .delete-feedback {
  color: rgba(255, 255, 255, 0.6);
}

.delete-feedback:hover {
  color: rgba(0, 0, 0, 1);
}

.card.card.reverse .delete-feedback:hover {
  color: rgba(255, 255, 255, 1);
}
