@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-accent-color: rgb(255, 127, 80);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
button {
  border: none;
  background: none;
}
button:focus {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #040837;
  color: #fff;
  height: 100vh;
  width: 100vw;
  line-height: 22px;
  overflow-x: hidden;
}

header {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.container {
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 20px;
  padding-bottom: 40px;
}

.feedback-stats {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 0.9rem;
}

.card {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  color: #111;
  font-weight: 500;
  position: relative;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card h3 {
  text-align: center;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.rating-container {
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-30%, -30%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #ffffff;
  background-color: var(--primary-accent-color);
}

.delete-feedback {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.15s ease;
  font-size: 1rem;
}
.card.reverse .delete-feedback {
  color: rgba(255, 255, 255, 0.6);
}

.delete-feedback:hover {
  color: rgba(0, 0, 0, 1);
}

.card.card.reverse .delete-feedback:hover {
  color: rgba(255, 255, 255, 1);
}

.edit-icon-btn {
  position: absolute;
  right: 30px;
  top: 11px;
  font-size: 0.8rem;
  cursor: pointer;
}

.input-container {
  position: relative;
  text-align: center;
  margin-top: 10px;
  width: 90%;
  margin-inline: auto;
}

input[type='text'] {
  width: 100%;
  padding: 12px;
  padding-right: 90px;
  border: none;
  outline: 1.4px solid rgba(94, 94, 94, 0.2);
  border-radius: 8px;
}

input[type='text'].error {
  outline: 2px solid red;
}

input[type='text'].success {
  outline: 2px solid rgb(1, 206, 1);
}

.input-container .btn {
  position: absolute;
  right: 3px;
  top: calc(2.4px);
}

.btn {
  background-color: #111;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #111;
}

.btn-secondary {
  background-color: var(--primary-accent-color);
}

.btn:hover:not([disabled]) {
  transform: scale(0.98);
  opacity: 0.9;
}

.message {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 400;
  color: red;
}

.ratings {
  margin-block: 28px;
  justify-content: center;
  gap: 7px;
  row-gap: 14px;
  flex-wrap: wrap;
}
.ratings input {
  display: none;
}

.ratings label {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: #111;
  cursor: pointer;
}

.ratings input:checked + label {
  color: #fff;
  background-color: var(--primary-accent-color);
}

.about-page-link {
  font-size: 3rem;
  position: absolute;
  right: 20px;
  z-index: 2;
  color: var(--primary-accent-color);
  cursor: pointer;
}

.about {
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
